<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  	<display-name>devoir1-gti525-seb</display-name>
  	<error-page>
  		<error-code>404</error-code>
    	<location>/erreur.jsp</location>
	</error-page>
	<servlet>
  		<servlet-name>AjaxServlet</servlet-name>
  		<servlet-class>src.main.java.ca.etsmtl.gti525.devoir1.AjaxServlet</servlet-class>
  		<init-param>
	        <param-name>Collection</param-name>
	    	<param-value>vignettes</param-value>
	    </init-param>
	</servlet>

  	<servlet-mapping>
  		<servlet-name>AjaxServlet</servlet-name>
  		<url-pattern>/AjaxServlet</url-pattern>
  	</servlet-mapping>
  
  	<servlet>
  		<servlet-name>WatermarkServlet</servlet-name>
  		<servlet-class>src.main.java.ca.etsmtl.gti525.devoir1.WatermarkServlet</servlet-class>
  		
  		<init-param>
	        <param-name>Collection</param-name>
	    	<param-value>vignettes</param-value>
	    </init-param>
	    
	    <init-param>
	        <param-name>dossierOriginaux</param-name>
	    	<param-value>dossierUltraTopSecret</param-value>
	    </init-param>
	    
	    <init-param>
	        <param-name>message</param-name>
	    	<param-value>Achète l'image si tu veux voir l'originale</param-value>
	    </init-param>
  	</servlet>
  
  	<servlet-mapping>
  		<servlet-name>WatermarkServlet</servlet-name>
  		<url-pattern>/Watermark/*</url-pattern>
  	</servlet-mapping>
</web-app>
